<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Post</title>
  <div th:replace="Partials :: header"></div>
</head>
<body>
<div th:replace="Partials :: navbar"></div>

<div class="container">

  <form action="/posts/create" method="post">
    <input type="text" name="title" placeholder="title"><br>
      <textarea name="description" th:text="Description."></textarea><br>
    <input type="submit">

  </form>
</div>


<div th:replace="Partials :: scripts"></div>

</body>
</html>