<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Post</title>
  <div th:replace="Partials :: header"></div>
</head>
<body>
<div th:replace="Partials :: navbar"></div>

<div class="container">

  <form th:action="@{/posts/create}" th:method="post" th:object="${post}">
      Title:
    <input type="text" th:field="*{title}"><br>
      <textarea rows="10" cols="25" th:field="*{description}"></textarea><br>
    <input type="submit">

  </form>
</div>


<div th:replace="Partials :: scripts"></div>

</body>
</html>