<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Posts</title>
    <div th:replace="Partials :: header"></div>
</head>
<body>
<div th:replace="Partials :: navbar"></div>

<div class="container">

    <div th:each="post : ${listOfPosts}">
        <a th:href="'/posts/' + ${post.id}"><h3 th:text="${post.title}" /></a>
        <p th:text="${post.description}" />
    </div>

</div>


<div th:replace="Partials :: scripts"></div>
</body>
</html>