<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Post</title>
  <div th:replace="Partials :: header"></div>
</head>
<body>
<div th:replace="Partials :: navbar"></div>

<div class="container">

  <h1 th:text="${post.getTitle()}"/>
  <h4>Posted by: <span th:text="${post.getPoster().getUsername()}"></span></h4>
  <p th:text="${post.getPoster().getEmail()}"/>
  <p th:text="${post.getDescription()}"/>

</div>

<div th:replace="Partials :: scripts"></div>
</body>
</html>